* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --border: rgb(218, 249, 254);
  --hover: rgb(236, 235, 235);
  --text: rgb(48, 48, 48);
  --button: rgb(127, 127, 241);
  --button-hover: rgb(86, 86, 246);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text);
}

/* .receiveData {
  border: 1px solid rgb(201, 201, 201);
  position: fixed;
  z-index: 999;
  width: fit-content;
  line-height: 30px;
  text-align: center;
  right: 20px;
  top: 130px;
  border-radius: 3px;
  cursor: pointer;
  padding: 0px 10px;
  background-color: rgb(127, 127, 241);
  color: white;
}

.receiveData:hover {
  background-color: rgb(86, 86, 246);
  color: white;
  transition: background 100ms;
} */

/* .notification.shake {
  animation: shake 1s none;
}

@keyframes shake {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
} */

/* App Component */
.navBar {
  border-bottom: 1px solid var(--border);
  position: fixed;
  width: 100%;
  height: 70px;
  font-family: 'Roboto', sans-serif;
  padding-left: 25px;
  display: flex;
  justify-content: space-between;
  background-color: #f0f2f5;
}

.navBar .title {
  width: fit-content;
  height: 70px;
  font-size: 40px;
  line-height: 70px;
  cursor: pointer;
}
.navBar .tRefresh {
  border: 1px solid var(--border);
  border-radius: 3px;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 100px;
  margin-right: 20px;
  margin-top: 15px;
  padding: 10px 0px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.15s ease;
  background-color: rgb(195, 228, 235);
}

.navBar .tRefresh .tRefreshText {
  margin-left: 8px;
}

.navBar .tRefresh:hover {
  background: rgb(187, 222, 229);
  transition: background 0.3s;
}

.openSideBar {
  width: fit-content;
  line-height: 30px;
  text-align: center;
  display: block;
  position: fixed;
  padding: 0px 5px;
  top: 70px;
  z-index: 1;
  font-size: 20px;
  background-color: white;
  border-start-end-radius: 10px;
  border-end-end-radius: 10px;
}

.container {
  border: 1px solid var(--border);
  border-top: none;
  position: fixed;
  width: 350px;
  height: 100%;
  top: 70px;
}

.dropBox {
  width: 100%;
  height: 50px;
}

#dropDown {
  border: none;
  border-bottom: 1px solid var(--border);
  width: 100%;
  height: 50px;
  font-size: 18px;
  outline: none;
  padding: 0px 20px;
  font-weight: bold;
  background-color: rgb(249, 249, 249);
  cursor: pointer;
}

.container1 {
  width: 100%;
  height: 87vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.whatsapp {
  border-bottom: 1px solid var(--border);
  width: 100%;
  display: flex;
  background-color: rgb(249, 249, 249);
  cursor: pointer;
  color: black;
  padding: 0px 5px;
  justify-content: space-between;
}

.whatsapp:hover {
  background-color: var(--hover);
  transition: background 200ms;
}

.whatsapp.selected {
  background-color: rgb(228, 228, 228);
  color: black;
}

.container_each {
  display: flex;
}

.image .waImage {
  width: 40px;
  height: 40px;
  background-image: url('/images/img1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5px;
}

.image .igImage {
  width: 40px;
  height: 40px;
  background-image: url('/images/img2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5px;
}

.image .fbImage {
  width: 40px;
  height: 40px;
  background-image: url('/images/img3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin-top: 5px;
}

.image .liImage {
  width: 40px;
  height: 40px;
  background-image: url('/images/img4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin-top: 5px;
}

.leadNo {
  font-size: 21px;
  padding-left: 6px;
  font-weight: 600;
}

.subjects {
  font-size: 15px;
  font-weight: 600;
  padding-left: 6px;
}

.notif_arrow {
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

.notification {
  width: 20px;
  line-height: 45px;
  color: tomato;
  font-size: 18px;
  margin: 0px 3px;
}

.notification :hover {
  filter: drop-shadow(0px 0px 20px tomato);
  transition:
    color 0.3s,
    drop-shadow 0.3s;
}

.arrow {
  line-height: 45px;
  font-size: 22px;
  font-weight: 900;
}

.arrow.selected {
  color: black;
}

.arrow.notSelected {
  opacity: 0;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(129, 127, 127);
  z-index: 1;
  opacity: 0.5;
}

.pop {
  border: 1px solid var(--border);
  width: 550px;
  position: absolute;
  top: 35%;
  left: 50%;
  padding: 16px;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: white;
  box-shadow: 5px 5px 10px rgb(125, 124, 124);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;
}

.from {
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
}

/* input[type='radio'] {
  cursor: pointer;
  margin-right: 3px;
} */

.from_div,
.to_div {
  font-size: 14px;
}

.from_div span:first-child,
.to_div span:first-child {
  font-weight: 600;
  font-size: 17px;
}

.message {
  font-size: 18px;
  font-weight: 600;
}

#message {
  border: 1px solid rgb(226, 219, 242);
  width: 100%;
  height: 100px;
  resize: none;
  padding: 5px;
}

label div {
  margin-bottom: 8px;
}

.btn {
  display: flex;
  gap: 8px;
  line-height: 35px;
  font-size: 20px;
}

.btn > div {
  border: 1px solid var(--border);
  width: 100%;
  background-color: var(--button);
  padding: 0px 10px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  border-radius: 3px;
  color: white;
}

.btn > div:hover {
  background-color: var(--button-hover);
  transition: background 0.2s;
}

.whatsapp_container,
.instagram_container,
.facebook_container,
.linkedin_container {
  z-index: 2;
  position: fixed;
  width: fit-content;
  height: fit-content;
  top: 70px;
  right: 0;
  margin: 5px;
}

.sendMessages,
.receiveMessages,
.loadDataIG,
.loadDataFB,
.loadDataLI {
  border: 1px solid var(--border);
  width: 140px;
  height: 35px;
  padding: 5px;
  text-align: center;
  right: 30px;
  color: white;
  background-color: var(--button);
  border-radius: 3px;
  z-index: 2;
  cursor: pointer;
}

.sendMessages:hover,
.receiveMessages:hover,
.loadDataIG:hover,
.loadDataFB:hover,
.loadDataLI:hover {
  background-color: var(--button-hover);
  color: white;
  transition: background 100ms;
}

/* Number1 Component */
.messages.sidebarOpened {
  width: calc(100% - 350px);
  height: calc(100% - 70px);
  position: fixed;
  top: 70px;
  right: 0;
  scroll-behavior: smooth;
  transition: width 0.3s;
}

.messages.sidebarClosed {
  width: 100%;
  height: calc(100% - 70px);
  position: fixed;
  top: 70px;
  right: 0;
  scroll-behavior: smooth;
  transition: width 0.3s;
}

.messages .img {
  width: 100%;
  height: 100%;
  top: 70px;
  background-image: url('../images/whatsapp.png');
  background-position: center;
  background-repeat: repeat;
  background-color: hsl(36.92deg 28.89% 91.18%);
  background-attachment: fixed;
}

.app {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  overflow-y: scroll;
}

.app.a_whatsapp {
  height: calc(100% - 80px);
  margin-top: 80px;
  transition: margin-top 0.3s;
}

.app.a_instagram {
  height: calc(100% - 40px);
  margin-top: 40px;
  transition: margin-top 0.3s;
}

.app.a_facebook {
  height: calc(100% - 40px);
  margin-top: 40px;
  transition: margin-top 0.3s;
}

.image_link {
  width: 100%;
  line-height: 20px;
  margin-top: 20px;
}

.image_link a {
  text-decoration: none;
}

.image_link a:hover {
  color: rgb(243, 75, 75);
}

.day_heading {
  width: 100%;
}

.day_wise {
  border: 1px solid var(--border);
  width: fit-content;
  margin: 10px auto;
  font-size: 10px;
  padding: 0px 5px;
  border-radius: 5px;
  font-weight: 700;
  background-color: hsl(0deg 0% 99.61%);
}

.body_date {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.body_date.sendColor {
  justify-content: flex-start;
}

.body_date.receiveColor {
  justify-content: flex-end;
}

.text1 {
  border: 1px solid var(--border);
  width: fit-content;
  height: auto;
  margin-top: 10px;
}

.text_sendColor {
  border-radius: 10px;
  border-top-left-radius: 0px;
  background-color: hsl(0deg 0% 100%);
}

.text_receiveColor {
  border-radius: 10px;
  border-top-right-radius: 0px;
  background-color: hsl(111.43deg 91.3% 90.98%);
}

.body {
  width: fit-content;
  height: auto;
  padding: 5px 10px;
  font-weight: 600;
  cursor: pointer;
}

.body.sendColor {
  float: left;
}

.body.receiveColor {
  float: right;
}

.date.sendDate {
  font-size: 9px;
  padding: 0px 10px 5px 10px;
  float: left;
  clear: left;
}

.date.receiveDate {
  font-size: 9px;
  padding: 0px 10px 5px 10px;
  float: right;
  clear: right;
}

@media (min-width: 320px) and (max-width: 480px) {
  .navBar .title {
    font-size: 25px;
  }

  .container {
    width: 200px;
  }

  .openSideBar.myOpen {
    left: 199px;
    transition: left 0.3s;
  }

  .openSideBar.myClose {
    left: 0px;
    transition: left 0.3s;
  }

  .image .waImage,
  .image .igImage,
  .image .fbImage {
    width: 20px;
    height: 20px;
    background-size: cover;
    margin-top: 15px;
  }

  .leadNo {
    font-size: 16px;
    margin-top: 10px;
  }

  .subjects {
    font-size: 11px;
  }

  .messages.sidebarOpened {
    width: calc(100% - 200px);
  }

  .app {
    padding: 5px;
  }

  .body {
    max-width: 200px;
    overflow-x: scroll;
  }

  .pop {
    width: 350px;
    top: 45%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .navBar .title {
    font-size: 30px;
  }

  .container {
    width: 300px;
  }

  .openSideBar.myOpen {
    left: 299px;
    transition: left 0.3s;
  }

  .openSideBar.myClose {
    left: 0px;
    transition: left 0.3s;
  }

  .messages.sidebarOpened {
    width: calc(100% - 300px);
  }

  .body {
    max-width: 300px;
    overflow-x: scroll;
  }

  .pop {
    width: 450px;
    top: 45%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .navBar .title {
    font-size: 40px;
  }

  .openSideBar.myOpen {
    left: 349px;
    transition: left 0.3s;
  }

  .openSideBar.myClose {
    left: 0px;
    transition: left 0.3s;
  }

  .body {
    max-width: 450px;
  }
}

@media (min-width: 1025px) {
  .container_each {
    padding: 0px 10px;
  }

  .openSideBar.myOpen {
    left: 349px;
    transition: left 0.3s;
  }

  .openSideBar.myClose {
    left: 0px;
    transition: left 0.3s;
  }

  .app {
    padding: 20px 40px;
  }

  .body {
    max-width: 600px;
  }
}
